target/
!.mvn/wrapper/maven-wrapper.jar
/static
/classes
/generated-sources
.mtj.tmp/
*.war
*.ear
*.zip
*.tar.gz
*.rar

# hs_err_pid*
replay_pid*

.settings/
.project
.classpath
.factorypath
.springBeans
.sts4-cache

.idea/
*.iws
*.iml
*.ipr
/out/
.idea_modules/

/logs/
*.log
/temp/

bin/
*.class

.DS_Store
Thumbs.db

.vscode/
.factorypath
